<div
    class="border border-[#1d293a] hover:border-[#464c6a] transition-all duration-500 bg-[#1b203e] rounded-lg relative group">
    <div class="h-44 lg:h-52 w-auto cursor-pointer overflow-hidden rounded-t-lg">
        <img [src]="blog.social_image" [alt]="blog.title"
            class="h-full w-full group-hover:scale-110 transition-all duration-300 object-cover" />
    </div>
    <div class="p-2 sm:p-3 flex flex-col">
        <div class="flex justify-between items-center text-[#16f2b3] text-sm">
            <p>{{blog.published_at | date}}</p>
            <div class="flex items-center gap-3">
                <p class="flex items-center gap-1">
                    <fa-icon [icon]="heartIcon"></fa-icon>
                    <span>{{blog.public_reactions_count}}</span>
                </p>
                <p *ngIf="blog.comments_count > 0" class="flex items-center gap-1">
                    <fa-icon [icon]="commentIcon"></fa-icon>
                    <span>{{blog.comments_count}}</span>
                </p>
            </div>
        </div>
        <a [href]="blog.url" target="_blank">
            <p class="my-2 lg:my-3 cursor-pointer text-lg text-white sm:text-xl font-medium hover:text-violet-500">
                {{blog.title}}
            </p>
        </a>
        <p class="mb-2 text-sm text-[#16f2b3]">
            {{blog.reading_time_minutes}} Min Read
        </p>
        <p class="text-sm lg:text-base text-[#d3d8e8] pb-3 lg:pb-6 line-clamp-3">
            {{blog.description}}
        </p>
    </div>
</div>